# dependencies
node_modules

# build output
dist
out
*.tgz
*.zip

# compiled schemas
schemas/gschemas.compiled

# code coverage
coverage
*.lcov

# logs
logs
*.log

# dotenv environment variable files
.env
.env.*

# caches
.eslintcache
.cache
*.tsbuildinfo

# IDEs
.idea
.vscode

# OS
.DS_Store

.claude
.zcode
./AGENTS.md
